import React from 'react'
import { useSelector, useDispatch } from 'react-redux'
import { decrement, increment } from './model'
<%if(ts){%>
import { RootState } from '@/models/index'
<%}%>
export default function Counter() {
  <%if(ts){%>
  const count = useSelector((state:RootState) => state.counter.value)
  <%}else{%>
  const count = useSelector((state) => state.counter.value)
  <%}%>
  const dispatch = useDispatch()
  return (
    <div>
      <div>
        <button
          aria-label="Increment value"
          onClick={() => dispatch(increment())}
        >
          Increment
        </button>
        <span>{count}</span>
        <button
          aria-label="Decrement value"
          onClick={() => dispatch(decrement())}
        >
          Decrement
        </button>
      </div>
    </div>
  )
}